---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('25 Oct 2023')}
	heroImage=""
>
<br/>
<h1 style="text-align: center;">I believe in Jingliu</h1>
<a href="https://safe-airmail-357.notion.site/Smart-Manufacturing-127a5068652e80939eccf38a8a98729a">Smart Manufacturing Doc</a>
</Layout>
	
