---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Projects"
	description=""
	pubDate={new Date('January 1 2024')}
>
<h1>Projects</h1>

<h2>Quantum Leap - WIP</h2>
<p>I am currently working on an exciting game called <strong>Quantum Leap</strong>. This is a fast-paced shooter game that promises to deliver a thrilling experience. However, I'll keep the details under wraps for now as it's a secret! Stay tuned for more updates.</p>

<h2>PigLang</h2>
<p>I've created a <strong>programming language</strong> implemented in Rust. This language is designed to be simple and effective, with its own virtual machine (VM) to execute the code. It’s an interesting project that showcases my skills in both language design and systems programming.</p>
<a href="https://pig-docs-abiin-kun.vercel.app/">Check it Out</a>
<h2>HandSign</h2>
<p>I developed a <strong>sign language translator</strong> that translates sign language using TensorFlow. This tool can run directly on the web, making it accessible and useful for communication. It’s a significant step towards making technology more inclusive and accessible.</p>
<a href="https://handsign.vercel.app/">Check it Out</a>
</Layout>
